<!-- aboutPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
		<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-coffee"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title"><c>About Us</c></h3>
			<div class="content">
				<p>Upstate Indie, LLC is an independant development studio with a strong passion for creating games and helping others meet their potential. At Upstate Indie we've cultivated our vision over decades of gaming. Perhaps all of that time wasn't wasted after all! We don't just make games, we enjoy the fun of playing them too!<br>      
				<br>
				We've enjoyed developing with the MIT-licensed Open Source version of <a href="http://torque3d.org/" target="_blank">Torque3D</a> game engine for a number of years. During this time we have honed our skillset around the engine, always innovating to improve our standards for excellence.</p>
			</div>
		</div>
	</div>
</div>
</center>
