<!-- cellodusProjectPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-gamepad"></i></div>
			<div class="header cf"><br></div>			
			<h3 class="title">Aura</h3>
			<div class="content">
				<p>Aura has been, and continues to be, a labor of love for the studio. This game's humble origins from a concept in a blog post has vastly transformed over the years...</p>
			</div>
			<!--div class="enrole">More Info</div--> 
		</div>
	</div>
</div>
</center>
