<!-- nermProjectPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-gamepad"></i></div>
			<div class="header cf"><br></div>			
			<h3 class="title">Nerm</h3>
			<div class="content">
				<p>Nerm is a light-hearted space shooter featuring competitive and persistant gameplay modes. Play matches online to unlock skins, or explore the galaxy alone and find your place among the stars!</p>
			</div>
			<!-- div class="enrole">More Info</div --> 
		</div>
	</div>
</div>
</center>
