<!-- nermProjectPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-gamepad"></i></div>
			<div class="header cf"><br></div>			
			<h3 class="title">Nerm</h3>
			<div class="content">
				<p>Nerm began as a concept imagined by lead developer Jesse Allen's son. The fluid, overhead control scheme was inspired by 'io' games he was into at the time. Nerm evolved alongside other engine research and developments until finally a playable prototype emerged. While not currently being actively developed, the Nerm codebase is revisited and/or revised on occasion. Nerm has more to offer - only time can tell its full potential!</p>
			</div>
			<!--div class="enrole">More Info</div--> 
		</div>
	</div>
</div>
</center>
