<!-- privacyPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-thumbs-up"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Privacy Statement</h3>
			<div class="content">
				<p>
				Currently we don't collect any information from visitors to our site and don't plan to start. In the event that this policy ever changes, we will clearly notify you about the change. If you e-mail us, we will not store or sell your e-mail.
				</p>			
			</div>
		</div>
	</div>
</div>
</center>
