<!-- privacyPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-coffee"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Privacy Statement</h3>
			<div class="content">
				<div class="p2">
				Currently we don't collect any information from visitors to our site. Whatsoever.
				</div>			
			</div>
		</div>
	</div>
</div>
</center>