<!-- privacyPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-thumbs-up"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Privacy Statement</h3>
			<div class="content">
				<div class="p2">
				Currently we don't collect any information from visitors to our site. If you e-mail us, we will not store or sell your e-mail. Our site is hosted thru GithubPages, and here is Github's <a href="https://help.github.com/en/github/site-policy/github-privacy-statement" target="_blank">Privacy Statement</a>.
				</div>			
			</div>
		</div>
	</div>
</div>
</center>
