<!-- termsPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-paperclip"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Terms of Use</h3>
			<div class="content">
				<div class="p2">
				If someone hits us with a cease and desist, we'll take the offensive material down.
				<br><br>
				<a href="mailto:admin@upstateindie.com">admin@upstateindie.com</a>
				</div>		
			</div>
		</div>
	</div>
</div>
</center>
