<!-- termsPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-paperclip"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Terms of Use</h3>
			<div class="content">
				<p>
				The contents of the Upstate Indie Website and Blog are the intellectual property of Upstate Indie, LLC. Feel free to browse or download the resources provided here at your leisure. This site can be used on mobile devices. Don't use our website if it distracts you or prevents you from obeying traffic or safety laws. 
				<br><br>
				We are a reasonable entity operating in Upstate South Carolina, US. There's no reason to waste anyone's money or time, drop us an e-mail and ask us to chill. If someone hits us with a cease and desist we'll take the offensive material down, but if such an event were to occur we ask that if you downloaded any of it to please delete it. Thanks!
				</p><br>
				<div class="p2">
				<a href="mailto:admin@upstateindie.com">admin@upstateindie.com</a>
				</div>		
			</div>
		</div>
	</div>
</div>
</center>
