<!-- trademarksPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-paperclip"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Trademarks</h3>
			<div class="content">
				<div class="p2">
				UpstateIndie.com is Copyright &copy; Upstate Indie, LLC {{ site.time | date: "%Y" }}
				<br>
				The contents of the Upstate Indie Website and Blog are the intellectual property of Upstate Indie, LLC
				</div>		
			</div>
		</div>
	</div>
</div>
</center>